:root{
    --dark-clr: hsla(214, 18%, 8%, 1);
    --mild-clr: hsla(212, 22%, 15%, 1);
    --mild2-clr: hsla(212, 22%, 14%, 1);
    --neutral-clr: hsla(212, 14%, 23%, 1);
    --big-text-clr: hsla(0, 0%, 100%, 1);
    --mini-text-clr: hsla(270, 2%, 74%, 1);
    --bell-clr: hsla(166, 91%, 59%, 1);
    --steps-clr: hsla(130, 47%, 66%, 1);
    --arrow-clr: hsla(214, 18%, 8%, 1);
    --alert-clr: hsla(0, 59%, 51%, 1);
    --protein-clr: hsla(344, 87%, 66%, 1);
    --fat-clr: hsla(193, 98%, 50%, 1);
    --carbs-clr: hsla(49, 88%, 50%, 1);
}