@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat-Regular.otf') format('opentype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: initial;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


